{% load static %}
<html>
<head>
  <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}"
  
</head>
<body>
{% include 'navigation.html' %}
<section class="about-section">
  <div class="container">
    <div class="row">
      
          <div class="sec-title">
            <span class="title">About Online Fashion Zone Shop</span>
            <h2>We are Creative Tech Enthusiast working since 2023</h2>
          </div>
          <div class="text">

            E-Commerce is fast gaining ground as an accepted and used business paradigm. More and more business houses are implementing web sites providing functionality for performing commercial transaction over the web. It is reasonable to say that the process of shopping on the web is becoming commonplace.

          </div>
          <div class="text">

            The main aim to develop of the Fashion Zone is to provide suitable outfits like clothes, jewellery, shoes, makeup items, goggles and spray to Operator. It manages all the information about Operator and Brand Provider.

          </div>
          <div class="btn-box">
            <a href="{% url 'contact' %}" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      
    </div>
  </div>


  <div class="container shadow-lg" style="background-color: white; height: 900px; margin-top:2%">
      <h1 class="text-center text-Black">About Us</h1>
      <h3 class="text-center text-Black">---------| Our Team Member |----------</h3>
      <div class="row mt-3">
        <div class="col-md-4">
            <img src="{% static 'images/Tisha1.jpg' %}" style="width:100% ; margin-top: 5%; height:650px; border-radius:10%">
            <div class="text-center">
                <h2>Tisha Sadariya</h2>
                <p class="title">CEO & Founder</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/Khushi.jpeg' %}" style="width:100% ; margin-top: 5%; height:650px; border-radius:10%">
            <div class="text-center">
                <h2>Khushi Makwana</h2>
                <p class="title">Manager</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/Dhruvil1.jpeg' %}" style="width:100% ; margin-top: 5%; height:650px; border-radius:10%">
            <div class="text-center">
                <h2>Dhruvil Barot</h2>
                <p class="title">Designer</p>
            </div>
        </div>
      </div>
  </div>

</section>
</body>