{% extends 'admin_base.html' %}
{% block main  %}

<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">All Category</h5>
        <div class="container-fluid">

            <form class="container mt-5" method="post">
                {% csrf_token %}
                <label><b>Job Provider Name</b></label>
                <input type="text" class="form-control" name="uname" value="{{ seller.user.first_name}} {{ seller.user.last_name}}">
            
                <label><b>Status</b></label>
                <select class="form-control" name="status">
                    <option value="Accept">Accept</option>
                    <option value="Reject">Reject</option>
                </select>
            
                <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black; height:40px">
            </form>

        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Status Change successfully");
    window.location = ("{% url 'seller_all' %}")
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert("Try again....");
</script>
{% endif %}

{% endblock %}

